.page-container {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr auto auto;
    min-height: 100vh;
}

.grid-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-lg);
}

.container{
    width: 100%;
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: var(--space-lg);
}

.header-container{
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    padding-block: var(--space-sm);
}

@media screen and (min-width: 641px){
    .header{
        padding-block: 0;
    }
}

